[submodule "cleaver-light"]
	path = cleaver-light
	url = https://github.com/TheZoq2/cleaver-light
[submodule "PythonGamedevPresentation"]
	path = PythonGamedevPresentation
	url = https://github.com/TheZoq2/PythonGamedevPresentation
[submodule "embedded-overview/listings-rust"]
	path = embedded-overview/listings-rust
	url = https://github.com/denki/listings-rust
[submodule "embedded-overview/linehighlight"]
	path = embedded-overview/linehighlight
	url = git@github.com:cebe/linehighlight.git
